{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/customer_list/">Список пользователей</a>
		</li>
		<li>
			<a href="/create_customer/">Создать пользователя</a>
		</li>
	</div>
    <h1>Добавление доступ пользователя к контенту</h1>
    <form method="post">
        <select size="3" name="course_name">
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="student_name">
            {% for item in students %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}

{% extends "base.html" %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block content %}
	<div id="content">
		<!-- insert the page content here -->
		<h1>Добро пожаловать на мой экспериментальный сайт</h1>
		<a href="/create_customer/">Создать потребителя контента</a>
        <p><a href="/add-customer/">Добавить пользователю доступ к контенту</a></p>


		<h1>Добавление доступ пользователя к контенту</h1>
        <form method="post">
            <select size="3" name="course_name">
                {% for item in content %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <select size="3" name="student_name">
                {% for item in customer %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <button type="submit">Записать</button>
        </form>

	</div>
{% endblock %}