{% extends "base.html" %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block content %}
	<div id="content">
		<!-- insert the page content here -->
		<h1>Добро пожаловать на мой экспериментальный сайт</h1>
		<a href="/create-category/">Создать новую категорию</a>

		<table style="width:100%; border-spacing:0;">
		<tr><th>Категория</th><th>Контент</th></tr>
		{% for item in context['objects_list'] %}
			<tr>
				<td>{{item.name}}</td><td><span>Количество контента: {{item.content_count()}}</span>
				<a href="/content-list/?id={{item.id}}">Показать контент</a></td>
			</tr>
		{% endfor %}
		</table>


		<h2>Совместимость с браузером</h2>
		<p>Этот шаблон был протестирован в следующих браузерах:</p>
		<ul>
			<li>Internet Explorer 8</li>
			<li>Internet Explorer 7</li>
			<li>FireFox 3.5</li>
			<li>Google Chrome 6</li>
			<li>Safari 4</li>
		</ul>
	</div>
{% endblock %}
